<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/user.css">
    <title>Trang Chủ</title>
</head>
<body>

<header>
    <div class="logo">
        <img src="../static/img/logo.png" alt="Logo">
    </div>
    <nav>
        <div class="menu">
            <a href="#">Quản lý sản phẩm bánh kẹo</a>
            <a href="#">Thông tin tài khoản</a>
        </div>
    </nav>
    <div class="user-actions">
        <button onclick="logout()">Đăng xuất</button>
    </div>
</header>

<div class="avatar-container">
    <img src="../static/img/avatar.png" alt="Avatar">
</div>

<div class="user-info">
    <form>
        <table>
            <tr>
                <th>Name:</th>
                <td><input type="text" id="userName" value="Nguyễn Tiến Thành" size=40 readonly></td>
            </tr>
            <tr>
                <th>Email:</th>
                <td><input type="text" id="userEmail" value="ad3@gmail.com" size=40 readonly></td>
            </tr>
            <tr>
                <th>ID:</th>
                <td><input type="text" id="userID" value="cab10f81-34b9-4348-bc81-73ee35585832" size=40 readonly></td>
            </tr>
            <tr>
                <th>Role:</th>
                <td><input type="text" id="userRole" value="user" size=40 readonly></td>
            </tr>
        </table>
    </form>
    <div>
            <button type="button">Sửa Thông Tin</button>
        </div>
</div>


<!-- Nội dung trang chủ ở đây -->

<script>
    function logout() {
        window.location.href = "/";
    }
</script>

</body>
</html>
