<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Quản Lý Bánh Kẹo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Header -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index.html">
          <img src="/images/logo.png" />
          <span>Candy Cake</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/index.html"
                >Quản Lý Bánh Kẹo</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile.html">Thông Tin Tài Khoản</a>
            </li>
          </ul>
        </div>
      </div>
      <span style="width: 100px">Đăng xuất</span>
    </nav>
    <!-- Header -->
    <div class="container">
      <div
        style="
          padding: 20px;
          display: flex;
          align-items: flex-end;
          flex-direction: column;
          gap: 10px;
        "
      >
        <button class="btn btn-primary" style="width: max-content">
          <a
            href="vo_dung/addCake.html"
            style="text-decoration: none; color: inherit"
            >Thêm mới</a
          >
        </button>

        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Hình ảnh</th>
              <th>Tên sản phẩm</th>
              <th>Giá</th>
              <th>Nhà sản xuất</th>
              <th>Nhà phân phối</th>
              <th>Hash</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <img src="/sua_co_gai.jpg" alt="" style="width: 100px" />
              </td>
              <td>Bánh chocopike</td>
              <td>25000VNĐ</td>
              <td>Cty Orion</td>
              <td>Đại lý bánh kẹo orion</td>
              <td>jhasdashdhasjwqhewhjdasdjhas</td>
              <td>
                <div style="display: flex; gap: 10px">
                  <a
                    href="vo_dung/showCake.html"
                    style="
                      text-decoration: none;
                      color: inherit;
                      cursor: pointer;
                    "
                    >Xem</a
                  >
                  <a
                    href="vo_dung/editCake.html"
                    style="
                      text-decoration: none;
                      color: inherit;
                      cursor: pointer;
                    "
                    >Sửa</a
                  >
                  <p style="cursor: pointer" onclick="handleShow()">Xoá</p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="modal" tabindex="-1" role="dialog" style="display: none">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Xoá bánh kẹo</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                  onclick="handleClose()"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Bạn có chắc chắn muốn xoá bánh kẹo "abc" không ?
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                  onclick="handleClose()"
                >
                  Huỷ
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  onclick="handleClose()"
                >
                  Xác nhận
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script>
      function handleShow() {
        $(".modal").modal("show");
      }

      function handleClose() {
        $(".modal").modal("hide");
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html></title>
</head>
<body>

</body>
</html>